* {
  background-image: none;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
}

window {
  background-color: rgba(0, 0, 0, 0.01);
}

button {
  color: #8c8c94;
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin: 0 60px;
  min-width: 100px;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
  outline-style: none;
  background-repeat: no-repeat;
  background-position: center 4px;
  background-size: 52px 52px;
  transition: all 200ms ease-in-out;
}

button:hover,
button:focus {
  color: #ffffff;
  background-position: center 0;
  background-size: 60px 60px;
}

#lock     { background-image: image(url("icons/lock.svg")); }
#logout   { background-image: image(url("icons/logout.svg")); }
#suspend  { background-image: image(url("icons/suspend.svg")); }
#reboot   { background-image: image(url("icons/reboot.svg")); }
#shutdown { background-image: image(url("icons/shutdown.svg")); }

#lock:hover,     #lock:focus     { background-image: image(url("icons/lock-h.svg")); }
#logout:hover,   #logout:focus   { background-image: image(url("icons/logout-h.svg")); }
#suspend:hover,  #suspend:focus  { background-image: image(url("icons/suspend-h.svg")); }
#reboot:hover,   #reboot:focus   { background-image: image(url("icons/reboot-h.svg")); }
#shutdown:hover, #shutdown:focus { background-image: image(url("icons/shutdown-h.svg")); }

